body{
    background: #020024;
background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
font-family: "Poppins", sans-serif;
}
h1{
    color: white;
}
#timer{
    color: white;
}
div#progress {
    color: white;
}
.main {
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 20px;
}
.option-container {
    padding: 16px;
    border: 1px solid black;
    margin-bottom: 20px;
    border-radius: 20px;
}

/* p {
    color: white;
}

lable {
    color: white;
} */

/* .option-container {
    color: white;
} */
